In [1]:
%pip install pandas
%pip install --upgrade plotly
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install seaborn
%pip install iso3166
%pip install --upgrade pip
%pip install simpledbf

Requirement already satisfied: pandas in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (6.3.1)
Requirement already satisfied: narwhals>=1.15.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from plotly) (2.6.0)
Requirement already satisfied: packaging in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from plotly) (24.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: iso3166 in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pip in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (25.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: simpledbf in /home/bode-murairi/anaconda3/lib/python3.12/site-packages (0.2.6)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet("yellow_tripdata.parquet")
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,33.8,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,21.2,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,14.2,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,11.4,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,11.4,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75

In [3]:
# check for NAN values
data.isna().any().any()

True

In [5]:
data.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.574091e+06,3574091,3574091,2.687857e+06,3.574091e+06,2.687857e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,3.574091e+06,2.687857e+06,2.687857e+06,3.574091e+06
mean,1.885322e+00,2025-08-16 11:23:17.404099,2025-08-16 11:40:34.198549,1.330378e+00,7.089372e+00,3.691883e+00,1.581166e+02,1.578169e+02,9.608202e-01,1.809526e+01,1.109147e+00,4.710899e-01,2.717212e+00,5.481911e-01,9.362118e-01,2.638875e+01,2.096993e+00,1.688262e-01,5.286723e-01
min,1.000000e+00,2009-01-01 12:52:15,2009-01-01 13:12:15,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.143300e+03,-7.500000e+00,-5.000000e-01,-8.529000e+01,-9.000000e+01,-1.000000e+00,-1.151230e+03,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-08-08 15:50:01.500000,2025-08-08 16:10:06,1.000000e+00,1.100000e+00,1.000000e+00,1.130000e+02,1.000000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.516000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-08-16 10:23:00,2025-08-16 10:38:01,1.000000e+00,2.000000e+00,1.000000e+00,1.610000e+02,1.610000e+02,1.000000e+00,1.350000e+01,0.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00,2.070000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-08-23 23:46:43.500000,2025-08-24 00:03:00.500000,1.000000e+00,4.260000e+00,1.000000e+00,2.300000e+02,2.310000e+02,1.000000e+00,2.260000e+01,2.500000e+00,5.000000e-01,3.850000e+00,0.000000e+00,1.000000e+00,3.028000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-09-01 00:00:29,2025-09-02 08:17:29,9.000000e+00,2.740824e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.092500e+03,1.575000e+01,1.050000e+01,5.000000e+02,1.160500e+02,1.000000e+00,2.123440e+03,2.500000e+00,6.750000e+00,7.500000e-01
std,7.160912e-01,NaN,NaN,7.628464e-01,6.653595e+02,1.563951e+01,6.639682e+01,7.103443e+01,8.060937e-01,2.093936e+01,1.816922e+00,1.546250e-01,4.036947e+00,2.236631e+00,3.208035e-01,2.520041e+01,1.056319e+00,5.724835e-01,3.649961e-01

In [6]:
data[data["passenger_count"] > 5]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
601,2,2025-08-01 00:12:53,2025-08-01 00:17:29,6.0,0.76,1.0,N,79,79,1,6.5,1.0,0.5,2.45,0.0,1.0,14.70,2.5,0.00,0.75
639,2,2025-08-01 00:07:20,2025-08-01 00:17:25,6.0,2.27,1.0,N,125,246,1,12.8,1.0,0.5,1.86,0.0,1.0,20.41,2.5,0.00,0.75
667,2,2025-08-01 00:38:28,2025-08-01 00:49:42,6.0,2.41,1.0,N,164,211,1,13.5,1.0,0.5,1.00,0.0,1.0,20.25,2.5,0.00,0.75
682,2,2025-08-01 00:35:15,2025-08-01 00:46:05,6.0,3.23,1.0,N,48,151,1,15.6,1.0,0.5,0.00,0.0,1.0,21.35,2.5,0.00,0.75
683,2,2025-08-01 00:47:36,2025-08-01 00:50:37,6.0,0.56,1.0,N,151,41,1,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684572,2,2025-08-31 23:39:17,2025-08-31 23:45:00,6.0,1.53,1.0,N,48,68,1,8.6,1.0,0.5,4.30,0.0,1.0,18.65,2.5,0.00,0.75
2684573,2,2025-08-31 23:48:18,2025-08-31 23:58:57,6.0,1.59,1.0,N,186,163,2,11.4,1.0,0.5,0.00,0.0,1.0,17.15,2.5,0.00,0.75
2685605,2,2025-08-31 23:13:44,2025-08-31 23:31:25,6.0,2.64,1.0,N,186,114,1,17.7,1.0,0.5,0.00,0.0,1.0,23.45,2.5,0.00,0.75
2686113,2,2025-08-31 23:12:13,2025-08-31 23:29:31,6.0,7.17,1.0,N,132,95,2,29.6,1.0,0.5,0.00,0.0,1.0,33.85,0.0,1.75,0.00
2687855,2,2025-08-31 23:17:59,2025-08-31 23:27:16,6.0,1.78,1.0,N,249,170,1,11.4,1.0,0.5,3.43,0.0,1.0,20.58,2.5,0.00,0.75

In [7]:
# Display rows with at least one NaN value
data[data.isna().any(axis=1)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2687857,2,2025-08-01 00:39:47,2025-08-01 00:53:01,NaN,3.13,NaN,None,211,233,0,18.25,0.0,0.5,0.0,0.00,1.0,23.00,NaN,NaN,0.75
2687858,2,2025-08-01 00:49:14,2025-08-01 00:56:27,NaN,0.75,NaN,None,237,229,0,-4.75,0.0,0.5,0.0,0.00,1.0,1.00,NaN,NaN,0.75
2687859,2,2025-08-01 00:05:04,2025-08-01 00:28:34,NaN,6.69,NaN,None,158,166,0,30.72,0.0,0.5,0.0,0.00,1.0,35.47,NaN,NaN,0.75
2687860,2,2025-08-01 00:45:30,2025-08-01 01:09:49,NaN,8.26,NaN,None,48,260,0,31.90,0.0,0.5,0.0,6.94,1.0,43.59,NaN,NaN,0.75
2687861,2,2025-08-01 00:41:35,2025-08-01 00:51:48,NaN,1.62,NaN,None,230,237,0,9.71,0.0,0.5,0.0,0.00,1.0,14.46,NaN,NaN,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574086,2,2025-08-31 23:40:30,2025-08-31 23:58:48,NaN,3.12,NaN,None,65,228,0,21.53,0.0,0.5,0.0,0.00,1.0,23.03,NaN,NaN,0.00
3574087,2,2025-08-31 23:10:26,2025-08-31 23:29:01,NaN,5.92,NaN,None,236,148,0,21.78,0.0,0.5,0.0,0.00,1.0,26.53,NaN,NaN,0.75
3574088,2,2025-08-31 23:04:21,2025-08-31 23:25:21,NaN,4.10,NaN,None,148,48,0,-4.75,0.0,0.5,0.0,0.00,1.0,5.83,NaN,NaN,0.75
3574089,2,2025-08-31 23:44:26,2025-08-31 23:44:42,NaN,0.02,NaN,None,107,107,0,12.67,0.0,0.5,0.0,0.00,1.0,17.42,NaN,NaN,0.75
3574090,2,2025-08-31 23:11:01,2025-08-31 23:31:07,NaN,5.07,NaN,None,65,68,0,-4.75,0.0,0.5,0.0,0.00,1.0,10.00,NaN,NaN,0.75

In [10]:
# remove rows with NaN and duplicate rows
clean_data = data.dropna()
clean_data = clean_data.drop_duplicates()

In [11]:
clean_data.columns.to_list()

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee',
 'cbd_congestion_fee']

In [12]:
# get the most visited places by number of trips
def get_most_visited_places_bytrips():
    data = pd.read_parquet("yellow_tripdata.parquet")
    clean_data = data.dropna()
    most_visited_places = (
    clean_data.groupby("DOLocationID")["passenger_count"]
    .count()
    .reset_index(name="NumTrips")
    .sort_values("NumTrips", ascending=False)
    )
    return most_visited_places.head(10)

In [13]:
# get the most visited places based on the number of passangers
def get_most_visited_places_bypopulation():
    data = pd.read_parquet("yellow_tripdata.parquet")
    clean_data = data.dropna()
    most_visited_places = (
    clean_data.groupby("DOLocationID")["passenger_count"]
    .sum()
    .reset_index(name="PassangerCount")
    .sort_values("PassangerCount", ascending=False)
    )
    return most_visited_places.head(10)

In [14]:
clean_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,33.8,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,21.2,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,14.2,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,11.4,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,11.4,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75

In [17]:
# trip duration studies
def new_datatime_clean():
    data = pd.read_parquet("yellow_tripdata.parquet")
    clean_data = data.dropna()
    clean_data["trip_duration"] = clean_data["tpep_dropoff_datetime"] - clean_data["tpep_pickup_datetime"]
    return clean_data

In [18]:
def find_longest_trip():
    clean_data = new_datatime_clean()    
    """find the longest_trip"""
    longest_trip_index = clean_data["trip_distance"].idxmax()
    longest_trip_row_df = clean_data.loc[[longest_trip_index]]
    return longest_trip_row_df

In [19]:
def find_shortest_trip():
    """Find shortest trip"""
    clean_data = new_datatime_clean()
    shortest_trip_idx = clean_data["trip_distance"].idxmin()
    shortest_trip = clean_data.loc[[shortest_trip_idx]]
    return shortest_trip

In [20]:
def average_trip_distance():
    """"find average trip distance"""
    clean_data = new_datatime_clean()
    return clean_data["trip_distance"].mean()

In [21]:
clean_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,33.8,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,21.2,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,14.2,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,11.4,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,11.4,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75

In [42]:
# vendor that dominate by regions
# Group by pickup location and vendor, count trips
def vendor_dominate_region():
    data = pd.read_parquet("yellow_tripdata.parquet")
    clean_data = data.dropna()
    vendor_counts = clean_data.groupby(["PULocationID", "VendorID"]).size().reset_index(name="trip_count")

    # For each PULocationID, find the vendor with the max trips
    dominant_vendors = vendor_counts.loc[vendor_counts.groupby("PULocationID")["trip_count"].idxmax()].sort_values("trip_count", ascending=False)

    return dominant_vendors.head(10)
vendor_dominate_region()

     PULocationID  VendorID  trip_count
305           132         2      166061
380           161         2      101192
563           237         2       88791
439           186         2       87656
319           138         2       81782
383           162         2       76550
543           230         2       74650
560           236         2       66704
404           170         2       65459
386           163         2       58068

In [33]:
clean_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,33.8,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,21.2,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,14.2,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,11.4,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,11.4,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75

In [34]:
clean_data["duration"] = clean_data["tpep_dropoff_datetime"]- clean_data["tpep_pickup_datetime"]
clean_data.columns.to_list()

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee',
 'cbd_congestion_fee',
 'duration']

In [35]:
clean_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,...,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00,0 days 00:19:57
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,...,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00,0 days 00:12:32
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,...,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75,0 days 00:00:00
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,...,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75,0 days 00:00:00
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,...,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75,0 days 00:07:44

In [55]:
# Filter for Vendor 2
vendor2_data = clean_data[clean_data['VendorID'] == 2]

# Group by pickup and dropoff location
trip_counts = vendor2_data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')

# Display the first few rows
trip = trip_counts.sort_values("trip_count", ascending=False)
trip.head(10)

       PULocationID  DOLocationID  trip_count
14805           237           236       10993
7303            132           265        9161
14806           237           237        8774
14612           236           237        8565
7171            132           132        8333
9886            161           237        6881
14611           236           236        6776
14749           237           161        6155
7268            132           230        6070
11519           186           230        5353

In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# 1. Filter for specific trips
specific_trips = clean_data[
    (clean_data['PULocationID'] == 186) & 
    (clean_data['DOLocationID'] == 230)
].copy()  # make a copy to avoid SettingWithCopyWarning

# 2. Convert duration from timedelta to minutes if necessary
if pd.api.types.is_timedelta64_dtype(specific_trips['duration']):
    specific_trips['duration_minutes'] = specific_trips['duration'].dt.total_seconds() / 60
else:
    specific_trips['duration_minutes'] = specific_trips['duration']

# 3. Select features and target
features = [
    'passenger_count', 'duration_minutes', 'fare_amount', 'extra', 'mta_tax', 
    'tolls_amount', 'improvement_surcharge', 'congestion_surcharge', 
    'Airport_fee', 'cbd_congestion_fee'
]
X = specific_trips[features]
y = specific_trips['total_amount']

# 4. Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 5. Create and train model
model = LinearRegression()
model.fit(X_train, y_train)

# 6. Predict
y_pred = model.predict(X_test)

# 7. Evaluate
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)
print(f"RMSE: {rmse:.2f}, R2 Score: {r2:.2f}")

# 8. Check coefficients
coeff_df = pd.DataFrame({'Feature': features, 'Coefficient': model.coef_})
print("\nFeature Coefficients:")
print(coeff_df)

# 9. Create a DataFrame with actual and predicted prices
predicted_prices = pd.DataFrame({
    'Actual Price': y_test.values,
    'Predicted Price': y_pred
})

# Round to 2 decimals for readability
predicted_prices = predicted_prices.round(2)

# Sort by Predicted Price from highest to lowest
predicted_prices_sorted = predicted_prices.sort_values("Predicted Price", ascending=False)

# Show the top 20
print("\nTop 20 Predicted Prices (Highest to Lowest):")
print(predicted_prices_sorted.head(5))

RMSE: 2.05, R2 Score: 0.96

Feature Coefficients:
                 Feature  Coefficient
0        passenger_count    -0.073963
1       duration_minutes     0.017418
2            fare_amount     1.083519
3                  extra     0.411836
4                mta_tax     0.981869
5           tolls_amount     1.028076
6  improvement_surcharge     1.472964
7   congestion_surcharge     0.704769
8            Airport_fee     0.000000
9     cbd_congestion_fee     1.966128

Top 20 Predicted Prices (Highest to Lowest):
      Actual Price  Predicted Price
1197         56.95            52.53
682          42.25            47.10
336          47.95            46.39
364          46.26            43.50
753          37.15            43.29

/home/bode-murairi/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(